a { 
  transition: .2s;
  cursor: pointer;
}

ins {
  font-style: italic;
}

p a, li a {
  color: blue;
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Lato;
}

i.bx {
  position: relative;
  top: 5px;
}

.body-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 720px;
  max-width: 1440px;
  min-height: 500px;
  background-color: white;
}

.body-main .column {
  padding-left: 10px;
  background-color: white;
}

.column.left {
  flex: 1;
  border-right: solid 6px #c6dae0;
  margin-right: 40px;
}

@media (max-width: 820px) {
  .column.left {
    flex: auto;
  }
}

.column.right {
  flex: 1.2;
}

.body-footer {
  min-width: 720px;
  max-width: 1440px;
  margin: 6rem auto;
}

.body-footer ul {
  display: flex;
  flex-wrap: wrap;
}

.body-footer a {
  color: black;
}

.body-footer i.bx {
  font-size: 4rem;
  top: -1px;
}

.rs-js-logo {
  margin-left: 20px;
  width: 150px;
}

.hat {
  position: relative;
  font-size: 0;
  overflow: hidden;
  background-color: white;
}

.hat img.visual {
  position: relative;
  z-index: 1;
  width: 100%;
}

.hat img.photo {
  position: absolute;
  right: 15%;
  top: 5%;
  z-index: 0;
  width: 25%;
}

.hat .contacts {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 50%;
}

.hat .name-job {
  position: absolute;
  bottom: 45%;
  z-index: 1;
  width: 50%;
  min-width: 440px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.hat h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.3em;
}

.hat .job {
  font-size: 0.8em;
  font-weight: 300;
}

.hat .nav {
  display: flex;
  flex-wrap: wrap;
}

.hat .nav li {
  margin-left: 10px;
  padding: 10px 0;
  font-size: 1.8rem;
  white-space: nowrap;
  font-weight: 300;
  overflow: hidden;
}

@media (max-width: 1120px) {
  .hat .name-job {
    top: 0;
  }
  .hat .job {
    line-height: 1em;
  }
  .hat .nav li {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .hat .name-job {
    font-size: 0.8rem;
  }
  .hat .nav li {
    font-size: 1.5rem;
    padding: 0;
  }
}

a.codewars  {
  display: inline-block;
  width: 400px;
  height: 42px;
  margin: 10px 20px;
  background: url(https://www.codewars.com/users/mxn42/badges/large?theme=light) no-repeat;
  filter: grayscale(100%);
}

@media (max-width: 720px) {
  a.codewars  {
    display: inline-block;
    width: 120px;
    height: 24px;
    margin: 18px 20px;
    background: url(https://www.codewars.com/users/mxn42/badges/micro?theme=light) no-repeat;
    filter: grayscale(100%) invert(1);
  }
}


.item > p, .item li {
  padding-right: 50px;
  line-height: 1.5em;
  font-size: 1.6rem;
  font-weight: 300;
}

.item > ul {
  margin-left: 3em;
  list-style-type: disc;
}

.item h2 {
  width: 60%;
  padding: 10px 20px 6px 20px;
  margin: 50px 0 30px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #c6dae0;
}

.item h3 {
  margin: 30px 0 10px 0;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.item pre {
  font-size: 1.1rem;
  line-height: 1.8em;
  white-space: pre;
  font-family: Consolas, Courier, monospace;
}

.item pre code.hljs {
  padding: 5px 0 5px 0.5em;
  background-color: whitesmoke;
}

.item p, .item pre {
  margin-top: 0.5em;
}

pre code {
  white-space: pre-wrap;
}
