body {
  background-color: #ffffff;
  background-image: radial-gradient(#ccc 0.5px, #ffffff 0.5px);
  background-size: 5px 5px;
}

box.loading {
  display: none;
}

main {
  border: solid 1px #eee;
  width: 920px;
  margin: 0 auto;
  background-color: white;
  padding: 42px;
}

h1 {
	margin: 0;
}

footer {
  display: flex;
  width: 920px;
  flex-direction: row-reverse;
  margin: 30px auto;
}

footer img {
  margin: -10px 20px;
  z-index: 0;
}

time {
  font-weight: 600;
}

.photo {
  width: 30%;
  float: right;
}

.photo img {
  width: 100%;
}

.rs-school-logo {
  width: 150px;
}

#contacts {
  margin: 0;
  padding: 0;
}

#contacts li {
  display: inline;
}

#contacts li + li {
  margin-left: 2px;
  border-left: 1px solid gray;
  padding-left: 6px;
  white-space: break-spaces;
}
